.details-container {
  width: 75%; 
  margin: 40px auto;
  text-align: center;
}

.details-img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  margin: 20px 0;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.recipe-text {
  font-size: 18px;
  margin-bottom: 20px;

}

.ingredient-list {
  padding: 0;
  list-style: none;
}

.ingredient-list li {
  background: #fff;
  margin: 12px auto;
  padding: 10px 20px;
  width: 60%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.cart-btn {
  background: #00b3ff;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.back-btn {
  background: #444;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  display: block;
  margin-left: 0;
}

.details-cart-header {
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 1000;
}

.cart-wrapper {
  position: relative;
  cursor: pointer;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
}

.btn.cart {
  background: #1e6f5c;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
